@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать!</h1>
    <br />
    <p><a class="btn btn-primary" asp-controller="Player" asp-action="RsvpForm">Заполните анкету, чтобы зарегистрироваться</a>.</p>
</div>
