<div class="text-center">
    <h1 class="display-4">Игрок успешно зарегистрирован!</h1>
    <br />
    <p><a class="btn btn-primary" asp-controller="Player" asp-action="GetPlayers">Список игроков</a>.</p>
</div>